.contenedor-botones {
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}



.boton{
    display: inline-flex;
    align-items: center;
    justify-content:center ;
    width: 80%;
    height: 80px;
    background:black;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

}
.boton span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}



*{
    padding: 0;
    margin: 0;
    box-sizing:border-box
}

body{

    font-family: 'nunito',Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
